*{
  font-family: "PoliceCV", Arial, serif;
}
@font-face {
  font-family: 'PoliceCV';
  src:url('abel-regular.ttf');
}
body{
  background-color:#E0E0E0;
}
a {
  text-decoration: none;
  color: blue;
}
td img{
  width: 4rem;
  height: auto;
  margin-top: 10px;
}

/* Gestion des blocs */
.global{
  display: flex;
  margin:auto;
  width: 60vw;
}
.W3C {
  text-align:center;
}
/* ----------------------------- Bloc Infos ----------------------*/
.infos{
  background-color: #BBDEFB;
  display : flex;
  flex-direction: column;
  text-align: center;
}
.infos h2 {
  background-color: #212121;
  color: #BBDEFB;
  margin-bottom:1rem;
  text-align: center;
}
.contenuInfos{ /* Bloc Infos contenu */
  height: 80vh;
  width: 20vw;
  justify-content: center;
}
.Photo img
{
  border-radius: 65px;
  margin-top: 1rem;
}
.contact{
  margin-top:2rem;;
}
.contact table{
  margin:auto;
  text-align: left;
}
.APropos{
  margin-top:2rem;
  text-align: justify;
}

.loisirs{ /* Bloc loisirs */
  height: 20vh;
  width: 20vw;
}
.loisirs img{
  width:4.375rem;
  height:4.375rem;
}


/* ---------------------------- Bloc contenu ----------------------*/
.contenu {
  padding: 1rem;
  background-color: white;
  width: 40vw;
}
.nom{
  font-size: 3rem;
  margin-top: 3rem;
}
.nom span{
  color: #0D47A1;
}
.titre p{
  color: darkblue;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}
.formations,.experience,.skills{
  margin-top:2rem;
}
.titreFormation{                                 /* Gestion des titres */
  background-image: url('Images/formation.svg');
}
.titreExperience{
  background-image: url('Images/experience.svg');
}
.titreSkills{
  background-image: url('Images/skills.svg');
}
.titreFormation,.titreExperience,.titreSkills{
  background-position: left;
  background-repeat: no-repeat;
  background-size: 3rem;
  padding-left : 3.2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #2196F3;
  font-size: 3rem;
  text-align:left;
}
.formations table, .skills table, .experience table {
width:40vw;
margin:auto;
text-align: center;
}
.EnTete {
  width: 15vw;
  text-align: center;
}
.contenuTD{
  width: 25vw;
  text-align: left;
  padding-top: 1rem;
}
.spanPosteExp{
  font-weight: bold;
  font-size: 1rem;
}

/* --------------------------------------------- Desgin pour mobiles ---------------------------------------*/

@media all and (max-width:1024px) {
  .global
  {
    flex-direction: column;
    margin:auto;
    width: 80vw;
  }
  .contenuInfos, .loisirs, .infos {
    width: 80vw;
    height: auto;
  }
.contenu {
  width: 80vw;
  padding: 0px;
}
  .EnTete {
    width: 15vw;
  }
  .contenuTD {
    width: 60vw;
  }
  .formations table, .skills table, .experience table {
    width: 75vw;
  }
  .nom, .titreExperience, .titreSkills, .titreFormation, .titre p {
    text-align: center;
  }
}
